* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    padding: 10%;

}

.sumario-container .resultado .circulo {
        background-image: linear-gradient(to top, #4633ed, #4d22c9);
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 2rem 4.3em;
}

.sumario-container{
    height: 53vh;
    width: 80vh;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    box-shadow: 20px 20px 20px hsl(240, 69%, 97%);
    border-radius: 20px 20px;
}

.resultado {
    background-image: linear-gradient(to bottom, #6743ff, #312cea);
    border-radius: 20px;
    overflow: hidden;
    padding-top: 1em;
    text-align: center;
    color: hsl(241, 100%, 89%);
    align-items: center;
}

.p1 {
    font-size: 3rem;
    max-width: 100%;
    color: hsl(0, 0%, 100%);
}

.p2 {
    font-size: 90%;
    color: #bbb4fe;
}

.header-great  {
    text-align: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    padding-bottom: 1em;
}

.header-great > p {
    color: hsl(241, 100%, 89%);
    font-size: 14px;
    display: inline-block;
    max-width: 200px;
    padding-top: 1em;
}



.dados > header{
    color: rgb(56, 56, 99);
    margin-bottom: 2em;
    margin-top: 1.5em;
    font-size: 13px;
}

ul li {
    list-style: none;
    margin-bottom: 1em;
}

.score-img{
    padding-right: 5px;
    padding-left: 10px;
}

.text {
    display: inline-flex;
}

.text p {
    margin-left: 55px;
    font-size: 15px;
    color: #2b3c50;
    font-weight: bold;
}

.text span {
    color: gray;
}

.reaction, .memory, 
.verbal, .visual {
    border-radius: 7px 7px;
    height: 4em;
    width: 85%;
    padding-top: 8px;
    font-size: 11px;
}

.reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsl(0, 100%, 98%);
    border-radius: 7px 7px;
    
}

.memory {
    color: hsl(39, 100%, 56%);
    background-color: hsl(48, 100%, 96%);
}

.memory p {
    margin-left: 56px;
}

.verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsl(167, 92%, 95%);
}

.verbal p {
    margin-left: 68px;
}

.visual {
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 100%, 96%);
}

.visual p {
    margin-left: 70px;
}


button {
    width: 85%;
    height: 2.5em;
    margin-top: 1em;
    border-radius: 30px 30px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #303b59;
    color: hsl(0, 0%, 100%);
}

button:hover {
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media screen and (min-width: 350px) {
    body {
        display: block;
        justify-content: center;
        padding: 0;
    }

    .sumario-container .resultado .circulo {
        margin-left: 31%;
        width: 10rem;
        height: 10rem;
    }

    .sumario-container{
        width: 100%;
        height: 100%;
        grid-template-columns: 100%;
    }

    .resultado {
        border-radius: 0px 0px 40px 40px;
    }

    .header-result {
        font-size: 13px;
    }

    .p1 {
        font-size: 58px;
    }

    .header-great > p {
        font-size: 18px;
        padding-bottom: 30px;
        max-width: 300px;
    }

    .dados > header{
        padding-left: 25px;
        margin-bottom: 2em;
        margin-top: 0px;
        margin-left: 1em;
    }

    .reaction, .memory, 
    .verbal, .visual {
        height: 4.5em;
        width: 85%;
        padding-top: 15px;
        font-size: 13px;
        margin-left: 2.5em;
        margin-bottom: 1.5em;
    }

    .text p {
        font-size: 18px;
        line-height: 1.5;
        margin-left: 8em;
    }
    .verbal p,
    .visual p {
        margin-left: 9em;
    }
    .memory p {
        margin-left: 8em;
    }



    button {
        width: 85%;
        height: 2.5em;
        margin-top: 0.5em;
        margin-left: 7.5%;
        font-size: 1.5em;
    }
}





